{% extends 'layout/basic.html' %}

{% block title %}Список преподавателей{% endblock %}

{% block content %}

<h1>Список преподавателей</h1>
<a href="{% url 'teacher_form' %}"> Создать новый профиль преподавателя </a>
{% if teacher_list %}
    {% for teacher in teacher_list %}
    <div>
        <a href="{% url 'teacher_detail' teacher.pk %}"><h2>{{ teacher.surname }} {{ teacher.name }}</h2></a>
    </div>
    {% endfor %}
{% else %}
    <p>Преподавателей пока нет.</p>
{% endif %}
{% endblock %}
