{% extends 'layout/basic.html' %}

{% block title %}Информация о преподавателе :: Преподаватель{% endblock %}

{% block content %}
    <h1> Информация по учителю </h1>
    <div>
        <h2>{{ teacher.surname }} {{ teacher.name }} {{ teacher.fathers_name }}</h2>
        <p>{{ teacher.age }}</p>
        <p>{{ teacher.start_date }}</p>
        <p>{{ teacher.group_count }}</p>
        <p>{{ teacher.specialization}}</p>
    </div>
    <p><a href="{% url 'teacher_edit' teacher.url %}">Обновить профиль преподавателя</a></p>
    <p><a href="{% url 'teacher_confirm_delete' teacher.url %}">Удалить преподавателя</a></p>
{% endblock %}
