{% extends 'layout/basic.html' %}

{% block title %}Comments{% endblock %}

{% block content %}

<h1>All comments</h1>
<a href="{% url 'comment_form' %}">Create</a>
{% if comment_list %}
    {% for comment in comment_list %}
    <div>
        <p>{{comment.id}} - course: {{comment.course}} <a href="{% url 'comment_detail' comment.pk %}">{{comment.body}}</a></p>
        <p>{{ course.start_day }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>Comment doesn't exists.</p>
{% endif %}
{% endblock %}
