{% extends 'layout/basic.html' %}

{% block title %}Информация по курсу :: Курсы{% endblock %}

{% block content %}
    <h1> Детали по курсу </h1>
    <div>
        <h2>course name: {{ course.course_name }}</h2>
        <p>teacher: {{ course.teacher }}</p>
        <p>start_date: {{ course.start_date }}</p>
        <p>start day of week: {{ course.day_of_week }}</p>
        <p>start_time: {{ course.start_time}}</p>
        <p>days of week: {{ course.days_of_week}}</p>
        <p>location: {{ course.location}}</p>
        <p>number of lessons: {{ course.number_of_lessons}}</p>
        <p>course type: {{ course.course_type}}</p>
        <p>all course dates: {{ course.all_course_days}}</p>
    </div>
    <p><a href="{% url 'course_edit' course.pk %}">Править курс</a></p>
    <p><a href="{% url 'course_confirm_delete' course.pk %}">Удалить курс</a></p>
{% endblock %}
