{% extends 'layout/basic.html' %}

{% block title %}Список курсов{% endblock %}

{% block content %}

<h1>Список курсов</h1>
<a href="{% url 'course_form' %}"> Создать новый курс </a>
{% if course_list %}
    {% for course in course_list %}
    <div>
        <a href="{% url 'course_detail' course.id %}"> {{ course.course_name }}</a>, start date: {{ course.start_date }}
        <p>{{ course.start_day }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>Курсы пока отсутствуют.</p>
{% endif %}
{% endblock %}
