{% extends 'layout/basic.html' %}

{% block title %}Информация по занятию :: Занятия{% endblock %}

{% block content %}
<h1> Информация по занятию </h1>
    <div>
        <h2>{{ lesson.course__course_name }}</h2>
        <p>{{ lesson.number }}</p>
        <p>{{ lesson.teacher }}</p>
        <p>{{ lesson.date}}</p>
        <p>{{ lesson.start_time}}</p>
        <p>{{ lesson.topic}}</p>
        <p>{{ lesson.description}}</p>
        <p>{{ lesson.comment__body}}</p>
    </div>
    <p><a href="{% url 'lesson_edit' lesson.pk %}">Обновить занятия</a></p>
    <p><a href="{% url 'lesson_confirm_delete' lesson.pk %}">Удалить занятие</a></p>
{% endblock %}
