{% extends 'layout/basic.html' %}

{% block title %}Список курсов{% endblock %}

{% block content %}
    <h1> List of lessons </h1>
    <a href="{% url 'lesson_form' %}"> Create new lesson </a>
    <div>
        {% for lesson in object_list %}
        <a href="{% url 'lesson_detail' lesson.pk %}">
            <h2>{{ lesson.topic }}
                {{ lesson.date }}
                {{ lesson.start_time }}
            </h2>
        </a>
        {% endfor %}
    </div>
    <form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Course</h3>
        <ul class="w3layouts-box-list">
            {% for course in view.get_course %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="course_name" value="{{ course.course_name }}">
                <span class="span editContent">{{ course.course_name }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Teacher</h3>
        <ul class="w3layouts-box-list">
            {% for teacher in view.get_teacher %}
            <li class="editContent">
                <input type="checkbox" class="checked" name="surname" value="{{ teacher.surname }}">
                <span class="span editContent">{{ teacher.surname }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit"> Find </button>
    </form>
{% endblock %}

